.chat-window {
    background: lightsteelblue;
    padding: 3px;
    position: fixed;
    top: 0;
    bottom: 50px;    
    width: 100%;
    overflow-y: auto;
}

.user {
    background: #aaa;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#messages li {
    padding: 5px 10px;
}

.navbar-custom {
    color: #aaa;
}