.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 50px;
}

.App-header {
    background-color: #222;
    height: 120px;
    padding: 20px;
    color: white;
}

.App-body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

nav ul {
    display: flex;
    padding: 0 10%;
    justify-content: flex-start;
}

nav ul li {
    list-style: none;
    flex-grow: 1;
    display: block;
}

nav ul li a {
    color: #FFF;
    display: block;
    height: 100%;
    width: 100%;
}

iframe {
    width: 800px;
    max-width: 90%;
    margin: 0 auto 50px auto;
    height: 1200px;
    border: none;
    overflow: scroll;
}